.headerRowContentContainer--nav {
  background-color: #1d1d1d;
  height: 90px;
  color: white;
}

.headerRowContentContainer--nav_mobile {
  background-color: #1d1d1d;
  height: 90px;
  color: white;
}